/* You can add global styles to this file, and also import other style files */
@import "bulma/css/bulma.css";
body {
  position: relative;
  height: 100vh;
  padding: 50px 20px 0;
}

.custome-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  width: 100%;
  max-width: 640px;
}

.box {
  width: 100%;
}
.error-message {
  color: red;
  font-size: 12px;
}
.copy-password {
  margin-top: 20px;
}

.alert-container {
  display: flex;
  justify-content: center;
  position: fixed;
  background: #4caf50;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  top: 30px;
  right: -400px;
  opacity: 0;
  transition: all 0.3s ease;
}

.show {
  right: 20px;
  opacity: 1;
}

.alert-message {
  color: #fff;
  font-weight: bold;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.visible {
  margin-top: 20px;
  opacity: 1;
  visibility: visible;
}
